<!-- app/views/categories/show.html.erb -->
<h1><%= @category.name %></h1>

<ul>
  <% @category.jokes.each do |joke| %>
    <li>
      <%= link_to joke.setup, joke_path(joke) %>
    </li>
  <% end %>
</ul>



