<!-- app/views/layouts/_nav.html.erb -->
<nav>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'About', pages_about_path %> |
  <%= link_to 'Jokes', jokes_path %> |
  <%= link_to 'Facts', facts_path %>
</nav>